extends layout

block content
    for album in albums
        h2
            if isAuthenticated
                div(class="btn-group pull-right btn-group-album-options")
                    i(class="icon-gear dropdown-toggle", data-toggle="dropdown")
                    ul(class="dropdown-menu")
                        li
                            a(href="/upload/#{album.id}") Add to this Album
                        li
                            a(href="/delete/#{album.id}", data-album-name="#{album.name}", class="button-delete-album") Delete this Album
            | #{album.name}
            small.muted(style="padding-left: 10px") #{album.date}
        div.row
            if album.photos
                - var thumbnailContainerClass = ''
                each photo, index in album.photos
                    if index == 5
                        - thumbnailContainerClass = 'hide hide-toggle'

                    div(class="img-thumbnail-container #{thumbnailContainerClass}")
                        span.img-thumbnail
                            if isAuthenticated
                                a(class="btn btn-danger btn-delete btn-small btn-top-left", href="/delete/#{album.id}/#{photo.id}")
                                    i(class="icon-trash")
                            img(
                                src="#{photoHelper.getPlaceholderUrl()}",
                                data-src="#{photoHelper.getThumbnailUrl(album, photo)}",
                                data-img="#{photoHelper.getDisplayUrl(album, photo)}",
                                data-img-original="#{photoHelper.getOriginalUrl(album, photo)}",
                                data-attribution="Photo by #{photo.owner.username}"
                            )

                if album.photos.length > 5
                    div(class="btn btn-primary btn-more pull-right") More &nbsp;
                        i.icon-chevron-down


